@import url("../fonts/ubuntu/Ubuntu.ttf");
body { font-family: Ubuntu-B, sans-serif;}

/*commen*/
.btn.btn-primary { background: #03a9f4; border: 1px solid #03a9f4;}
.btn.btn-primary:hover{ background: #fff; color: #03a9f4; }
.color-1 { color: #03a9f4;}
.text-left { text-align: left;}
.text-right { text-align: right;}
.pd-50{padding: 50px 0;}
.modal-backdrop { z-index: 99 !important; background-color: #03a9f459 !important;}
.modal-header { border: 0px; background: url(../images/model-top-bg.png); background-size: cover; background-repeat: no-repeat; padding: 85px 0;}
.modal-header .btn-close { position: relative; left: 90%; margin: 0;top: -60px; color: #fff;}
.modal-body form input { margin: 25px 50px; width: 75%; opacity: 0.7;font-size: 17px; padding: 16px 15px;box-shadow: 0px 5px 16px 0px rgb(33 150 243 / 21%);}
.modal-body h3 { margin: 25px 45px; font-weight: 600; font-size: 26px; opacity: 0.8;}
.modal-content .form-check .form-check-input { float: none !important;}
.modal-content .form-check { text-align: center;}
.modal-content .form-check label.form-check-label { margin: 0 30px;opacity: 0.8;}

nav.navbar { position: fixed; width: 100%; z-index: 999;}
li.nav-item:nth-child(1):after { content: '';height: 20px;background: #333; width: 2px;display: flex;top: -29px;position: relative;left: 55px;}
li.nav-item:nth-child(2):after { content: '';height: 20px;background: #333;width: 2px;display: flex;top: -29px;position: relative;left: 65px;}
li.nav-item { cursor: pointer;}
/*Home */
.baner { padding: 130px 0 130px 0; background-size: cover !important;}
.baner-text {color: #fff;}
.baner-text h2 {font-size: 60px; line-height: 70px;font-weight: 600;}
.baner-text p {font-size: 24px; line-height: 30px;}
.baner-form .form-control {padding: 1.375rem 5rem;border-radius: 8px;}
.baner-form button { float: right; position: relative; top: -60px; right: 15px;font-size: 22px; padding: 8px 55px;}
.baner-form i { position: relative;top: 52px;font-size: 28px; left: 20px; color: #333; opacity: 0.6;}

.purity-section { background: url(../images/inside.jpg) no-repeat; background-position: center;}
.sub-title { font-size: 24px; font-weight: 600;}
.purity-section h2 { font-weight: 600;}
.in {color: #03a9f4;font-size: 20px;font-weight: 500; margin-bottom: 0;}
.what-inside { margin: 85px 0;}
.what-inside p { font-size: 18px; opacity: 0.8;}
.right-p {padding: 0 0 0 285px;}
.left-p { padding: 0 285px 0 0}

.product-section h2 {font-weight: 600;}
.product-box { border:1px solid #03a9f430; max-height: 500px; min-height: 535px;padding: 20px;box-shadow: 5px 1px 6px 0px rgb(33 150 243 / 21%);cursor: pointer;}
.product-box:hover {box-shadow: 0 15px 28px rgb(0 188 212 / 16%), 0 15px 10px rgb(0 188 212 / 16%);}
.product-content { padding: 20px 0;}
.product-img {padding: 30px 0;}
.product-content button {font-size: 18px;}
.rating {padding-bottom: 10px;}
.payment{ font-size: 18px;color: #03a9f4;font-weight: 600; }
.payment span {padding-right: 20px;text-decoration: line-through;color: #333333a6;opacity: 0.8;}
.rating i { color: #03a9f4;}

.extract-water-in { background: url(../images/water-filter.png) no-repeat; background-position: center;padding: 145px 0;text-align: center;overflow: hidden;}
.extract-water-in:after { content: '';background: #03a9f4a8;position: relative; padding: 250px;left: -42px;}
.video-play {position: relative; z-index: 9;font-size: 50px;left: 40%;color: #fff;}
.extract-content {padding: 0 5%;}
.extract-content p { font-size: 18px;opacity: 0.8;} 
.extract-content h2 { font-weight: 600; padding-bottom: 15px;}
.extract-water {background: #0096880a;}

.dowload-content {vertical-align: middle;padding: 8rem 0;}
.dowload-content h2 { font-weight: 600; padding-bottom: 15px;}
.dowload-content p { font-size: 18px; opacity: 0.9;}
.android { width: 35%; float: left;}
.iphone { width: 35%; float: left;}

section.footer {
	background: url('../images/footer-bg.png') no-repeat;
        padding: 280px 0 30px 0;
    background-size: cover;
    }
    .footer .col-md-3 p {
    color: #fff;
    padding-top: 40px;
    padding-right: 60px;
}
.footer h3 {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
}
.footer h3:after {
    content: '';
    display: block;
    height: 2px;
    color: #fff;
    background: #fff;
    width: 20%;
    position: relative;
    top: 5px;
}
.footer ul li {
    list-style-type: none;
    color: #fff;
    padding: 8px 0;
    font-size: 18px;
}
.footer ul {
    padding: 0;
    padding-top: 25px;
}
.footer ul li a {
    cursor: pointer;
}

/*signup Modal */
.signup {text-align: center;}
.signup button { margin: 20px 0; padding: 10px 50px; font-size: 20px;}
p.already-sign {
    text-align: center;
}